#box1 {
  display: flex;
  flex-direction: column;
}

#BiographyContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.IntroParagraph {
  width: 100%;
}
