#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.aboutTextbox {
  justify-content: left;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  margin: 1%;
}

#aboutImage {
  width: 40%;
}

.BiographyContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.CVButton {
  margin: 3% 0% 0% 0%;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
}

@media (max-width: 700px) {
  #aboutImage {
    width: 80%;
  }
}
