#ContactContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#box1TextContainer {
  width: 50%;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
  text-align: left;
}

#box1ImageContainer {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#box1button {
  padding: 10px;
  color: white;
  background-color: rgba(0, 120, 255, 1);
  border: 0px;
  border-radius: 10%;
  font-size: large;
}
