.navBarContainer {
  width: 60%;
  padding: 1% 0% 1% 0%;
  align-items: center;
}

.linkButton {
  padding: 5%;
  color: black;
  font-size: large;
  text-decoration: none;
}

#loginButton {
  background-color: aliceblue;
  border: 0px;
  width: 10%;
  font-size: large;
  padding: 1% 0% 1% 0%;
}

@media (max-width: 700px) {
  .navBarContainer {
    display: none;
    width: 0%;
    padding: 1% 0% 1% 0%;
    align-items: center;
  }
}
